@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&family=Libre+Franklin:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.container {
  width: 550px;
  height: 600px;
  border: 2px solid grey;
  margin: 30px auto;
  padding: 45px;
  padding-top: 90px;
  background-color: #1F2937;
  color: #10B981;
}

.upContent {
  border-bottom: 1px solid gray;
}

.heading {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  line-height: 1;
  color: white;
  margin-bottom: 5px;
}

.heading span {
  color: #10B981;
}

.subLine {
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  margin-top: 12px;
}

.generatePassword {
  background-color: #0fce8e;
  color: white;
  width: 170px;
  padding: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  border-radius: 7px;
  border: none;
  margin-top: 20px;
  margin-bottom: 50px;
}
